# Env
.env
backend/.env
frontend/.env.local
frontend/.env

# Node
node_modules/
.pnp/
.pnp.js

# Next.js
.next/
out/

# Build
build/
dist/
coverage/

# Python
backend/.venv/
__pycache__/
*.py[cod]
backend/data/investment_prediction/akshare/

# Logs
*.log
backend/logs/anime_crawler/*.txt

# OS
.DS_Store
